body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--theme-color);
}

:root {
   --theme-color: #051929;
   --theme-color--two: #F0202E;
}

.navbar{
	background-color: #fff;
	padding: 1rem 0;
}

#nav2{
	background-color: #011d33;
}

#sada-bar{
	color: #fff;
}

.shadow-custom{
	box-shadow: #959da533 0px 8px 24px;
}

.nav-area{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

.navbar-brand{
	color: var(--theme-color);
	font-weight: 700;
	font-size: 1.5rem;
}

.navbar-nav li{
	margin: 0 1rem;
	color: #000;
	transition: 1s;
}

.navbar-nav li a:hover{
	color: #F0202E;
}

.navbar-nav li a{
	color: #000;
}

.search{
	position: absolute;
	top: 0;
	right: 0;
}

.dropdown-menu{
	box-shadow: #959da533 0px 8px 24px;
	border: none;
}

.nav-item-active{
	color: var(--theme-color--two) !important;
}

.dropdown-menu li:hover{
	transform: translateX(10px);
}

.dropdown-menu li{
	margin: 0;
}

.search input{
	background-color: #eee;
	outline: none;
	border: none;
	padding: 10px 20px;
	position: relative;
	width: 100%;
}

.search a{
	position: absolute;
	color: #000;
	right: 0;
	padding: 10px;
}

/* .side-bar-icon{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	font-size: 1rem;
} */

/* Home One Hero  */
.hero-left small{
	font-size: 1.5rem;
	color: var(--theme-color--two);
}

.hero-left h1{
	font-size: 5rem;
	font-weight: 700;
}

.hero-left h1 span{
	color: var(--theme-color--two);
}

.hero-left p{
	font-size: 2rem;
	padding: 1rem 0;
}

.hero-left a{
	text-decoration: none;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	border: 1px solid var(--theme-color--two);
	border-radius: 5px;
	transition: .7s ease-out;
}

.Btn1{
	background-color: var(--theme-color--two);
	color: #fff;
}

.hero-left .Btn1:hover{
	background: none;
	color: #055052;
}

.Btn2{
	background: none;
	color: var(--theme-color);
	margin-left: 1rem;
}

.Btn2:hover{
	background-color: var(--theme-color--two);
	color: #fff;
}

/* service-card */
.service-card{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.single-service-card{
	box-shadow: #959da533 0px 8px 24px;
	padding: 2rem 1rem 1rem 1rem;
	position: relative;
	transition: .5s ease-in-out;
	background-color: #fff;
}

.single-service-card::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--theme-color--two);
	height: 4px;
	width: 100%;
}

.single-service-card:hover{
	transform: translateY(-10px);
}

.card-icon{
	transition: .5s;
	font-size: 2.5rem;
}

.single-service-card:hover .card-icon{
	transform: translateY(-10px);
	color: #F0202E;
}

/* About Us */
.about-right small{
	color: var(--theme-color--two);
	font-size: 1rem;
}

.about-right h3{
	font-size: 3rem;
	font-weight: 700;
}

.about-right h3 span{
	color: var(--theme-color--two);
}
/* About Us */
.about-counter{
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.about-single-counter{
	box-shadow: #959da533 0px 8px 24px;
	padding: 2rem 3rem;
	transition: .2s;
	border-radius: 5px;
	width: 15rem;
}

.about-single-counter:hover{
	background-color: #F0202E;
	color: #fff;
}

.about-single-counter h2{
	font-size: 2.5rem;
	font-weight: 700;
	margin: .5rem 0;
	position: relative;
}

.about-single-counter h2 span{
	position: absolute;
	top: -1rem;
	right: 1.5rem;
	font-weight: 400 !important;
	color: var(--theme-color--two);
}

.about-single-counter p{
	font-size: 1rem;
}

.about-card{
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.single-about-card small{
	font-size: 1.5rem;
	font-weight: 600;
}

.single-about-card{
	background-color: #D7E9F7;
	padding: 2rem 1rem;
	transition: .5s;
}

.single-about-card:hover{
	transform: translateY(-1rem);
}

.about-card-two{
	background-color: #D5EEBB;
}

.about-card-three{
	background-color: #FFE3E3;
}

.about-card-four{
	background-color: #E8F6EF;
}

/* service */
.right-service-card{
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card-inner h4{
	margin-top: 20px;
}
.card-inner .thikMark-icon{
	background: #fff;
	padding: 10px;
	font-size: 3.5rem;
	border-radius: 50%;
	box-shadow: #959da533 0px 8px 24px;
	transition: .5s;
	color: var(--theme-color--two);
}

.card-inner:hover .thikMark-icon{
	background-color: var(--theme-color--two);
	color: #fff;
}

/* pricing */
.pricing{
	background-color: #F3F1F5;
}
.pricing-card{
	background-color: #fff;
	color: var(--theme-color);
	margin: 10px;
	padding: 3rem 4rem;
	text-align: center;
	position: relative;
	transition: .5s;
}

.pricing-card h4 span{
	transition: .5s;
}

.pricing-card p{
	margin: 2rem 0;
}

.pricing-card:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: var(--theme-color--two);
	transition: .5s;
}

.pricing-card:hover{
	background-color: var(--theme-color--two);
	color: #fff;
}

.pricing-card h4{
	border: 1px solid #e2e2e2;
	border-radius: 25px;
	padding: 10px;
}

.pricing-card h4 span{
	font-size: 14px;
}

.pricing-card:hover h4 span{
	color: #fff;
}

.pricing-card:hover a{
	background-color: #ffff;
	color: var(--theme-color--two);
}
/* pricing */

/* Footer */
.footer-area{
	background-color: var(--theme-color);
	color: #fff;
	padding: 2rem 0;
	position: relative;
}

.single-footer{
	margin-top: 1rem;
}

.single-footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.single-footer ul li a{
	text-decoration: none;
	color: #fff;
}

.single-footer ul li a, .single-footer p{
	color: #b1b1b1;
}

.single-footer ul li{
	transition: .5s ease-in-out;
	margin: .5rem 0;
}

.single-footer ul li:hover{
	transform: translateX(5px);
	color: #F0202E;
}

.single-footer ul li a:hover{
	color: #F0202E;
}

.social-links{
	margin-top: 2rem;
}

.social-links a{
	color: var(--theme-color);
	background-color: #fff;
	padding: 8px 10px;
	border-radius: 50%;
	font-size: 1rem;
	transition: .5s;
}

.social-links a:hover{
	color: #fff;
	background-color: var(--theme-color--two);
}

.top-footer{
	position: absolute;
	padding: 5rem;
	width: 80%;
	background-color: #fff;
	top: -20%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
}

.top-footer::after{
	content: "";
	position: absolute;
	background-color: #051929b4;
	height: 2rem;
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer-box{
	color: var(--theme-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.copyright{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #011d33;
	color: #fff;
	padding: 1rem 0 0 0;
	font-weight: 300;
}

.copyright p a{
	text-decoration: none;
	color: var(--theme-color--two);
}

/* Footer */

/* About-Us */

.about-banner{
	width: 100%;
	background-size: cover;
	background-image: url('/Assets/Images/hero1.jpg');
	height: 100vh;
	position: relative;
}

.about-banner:before{
	content: "";
	position: absolute;
	/* background-color: #011d33b4; */
	background-image: linear-gradient(#001220b4, #002749b4);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.About-Us{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.About-Us small{
	font-size: 2rem;
}

.About-Us h1{
	font-size: 5rem;
}

.About-Us ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.About-Us .right-arrow a{
	margin: 0 .5rem;
	color: var(--theme-color--two);
}

.About-Us ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}

/* About-Us */

/* Contact-Us */
.contact-us-area{
	background-color: #D7E9F7;
}
/* Contact-Us */